.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;

}
.user-logout {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.header {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}
