.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
td {
  font-size: 16pt;
  color: rgba(0, 0, 0, 0.8);
  border-left: 2px solid black;
  border-right: 2px solid black;
}



.main-table {
  width: 100%;
  text-align: center;
}
