<div class="main">
  <app-header></app-header>
  <div class="content">
    <div>
      <p>
        {{'List Users' | translate}}
        <a [title]="'Add user'" (click)="addUser()">
          <i class="pi pi-user-plus"></i>
        </a>
      </p>
    </div>
    <div class="card" class="main-table">
      <p-table [value]="users" [scrollable]="true" scrollHeight="686.693px" [resizableColumns]="true"
               [autoLayout]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'Login'| translate}}</th>
            <th>{{'Role'| translate}}</th>
            <th>{{'Email'| translate}}</th>
            <th>{{'Dob'| translate}}</th>
            <th>{{'Action'| translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.login}}</td>
            <td>{{displayRoles(user.roles)}}</td>
            <td>{{user.email}}</td>
            <td>{{user.dob | date}}</td>
            <td>
              <a [title]="'Edit user'" (click)="editUser(user.login)">
                <i class="pi pi-pencil" style="font-size: 1.5rem"></i>
              </a>
              <a [title]="'Delete user'" (click)="deleteUser(user.login)">
                <i class="pi pi-trash" style="font-size: 1.5rem"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>
