@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.login-form {

  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
  position: relative;
}

.signup {
  display: block;
  /*margin: 0 auto;*/
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  cursor: default;
}
.input:focus{
  border-bottom: 5px solid #ffa580;
}
