
<div class="login-form">
  <div class="signup">
    <h1>Sing In</h1>
  </div>

<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit(checkOutForm.value)">
<span class="p-float-label">
    <input id="float-login" class="input" type="text" pInputText formControlName="login">
    <label for="float-login">Username</label>
</span>
  <span class="p-float-label">
    <input id="float-password" class="input" type="password" pInputText formControlName="password">
    <label for="float-password">Password</label>
</span>

  <button pButton pRipple type="submit" label="Login" class="p-button-raised"></button>
</form>
</div>
