.edit-form{
  margin: 0 15%;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  margin: 0;
}

fieldset{
  padding-top: 20px;
}

.checkboxes{
  display: flex;
  margin:2% 3%;
}
.p-field-checkbox{
  margin: 2% 1%;
}
