<form [formGroup]="checkOutForm" (ngSubmit)="addUser(checkOutForm.value)"  class="edit-form">
  <fieldset>
    <legend>Add User</legend>
    <div class="p-float-label">
      <input id="float-login" class="input" type="text" pInputText formControlName="login">
      <label for="float-login">Username</label>
    </div>
    <div class="p-float-label">
      <input id="float-password" class="input" type="password" pInputText formControlName="password">
      <label for="float-password">Password</label>
    </div>
    <div class="p-float-label">
      <input id="float-email" class="input" type="text" pInputText formControlName="email">
      <label for="float-email">Email</label>
    </div>
    <div class="p-float-label">
      <input id="float-dob" class="input" type="date" pInputText formControlName="dob">
    </div>
    <p>Select user roles:</p>
    <div class="checkboxes">
      <div class="p-field-checkbox">
        <p-checkbox [formControl]="$any(checkOutForm).controls['roles']" value="admin"
                    label="admin"></p-checkbox>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox [formControl]="$any(checkOutForm).controls['roles']" value="user"
                    label="user"></p-checkbox>
      </div>
    </div>
    <button pButton pRipple type="submit" label="Accept Changes" class="p-button-raised"></button>
  </fieldset>
</form>
